body {
  background-color: #e9ebee;
  font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
  font-size: 14px;
  line-height: 1.34;
  color: #1d2129;
  width: 500px;
  margin: 20px auto;
}

body.alert-open{
  overflow:hidden;
  position: fixed!important
  height: 100%;
}

h1 {
  text-align: left;
  line-height: 1.34;
  text-transform: capitalize;
  background-color: #4267b2;
  border-radius: 2px;
  font-size: 14px;
  color: #e7e1f5;
  padding: 10px;
  margin-bottom: 0;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
}

h1.header-login {
  text-align: center;
  margin: 100px auto 0;
  padding: 10px 20px;
  width: 60%;
  line-height: 1.34;
  text-transform: capitalize;
  background-color: #4267b2;
  border-radius: 2px;
  font-size: 14px;
  color: #e7e1f5;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
}

a {
  text-decoration: none;
  color:#365899;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
  color:#365899;
}

.login {
  margin: 0 auto;
  width: 60%;
  background-color: #fff;
  padding: 20px 20px 0 20px;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-top: none;
  overflow: auto;
}

input[type="text"], input[type="password"], input[type="submit"] {
  display: block;
  width: 100%;
  height: 30px;
  margin-bottom: 20px;
  font-size: 16px;
  padding: 0 5px;
  box-sizing: border-box;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-radius: 3px;
}

/*#submit_status{
  padding: 5px 15px;
}*/

.btn-login {
  font-size: .9em;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 0 10px 0px 10px;
  margin: 0 0 20px 0;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  overflow: auto;
}

input.btn-login {
  color: #fff;
  padding: 5px 10px;
  font-weight: 600;
  font-size: .9em;
  cursor: pointer;
  background-color: #4267b2;
  border: 1px solid #4267b2;
  border-radius: 2px;
  display: block;
  /*float: right;*/
}

.kolom_status {
  background-color: #fff;
  padding: 0 0 10px 10px;
  margin: 0;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-bottom: none;
  border-top: none;
  overflow: auto;
}

.kolom_status img {
  position: relative;
  margin: 10px 10px 0 0;
  width: 40px;
  height: 40px;
}

textarea#textarea_status {
  position: absolute;
  font-size:14px;
  width: 420px;
  margin: 15px 0 0 0;
  display: inline;
  resize:none;
  overflow: auto;
  border-width: 0;
}

.status {
  background-color: #fff;
  padding: 0px 10px;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-bottom: none;
}

.status img {
  position: relative;
  margin-top: 10px;
  width: 40px;
  height: 40px;
}

p.author {
  position: absolute;
  display: inline;
  font-weight: 600;
  word-wrap: break-word;
  margin:10px 0 0 10px;
  padding-bottom: 0px;
}

p.meta_status {
  line-height: 1.34;
  position: absolute;
  display: inline;
  font-size: .8em;
  word-wrap: break-word;
  margin:30px 0 0 10px;
  padding-bottom: 0px;
}

a.meta_date {
  color:#90949c;
}

.action_status {
  /*display: none;*/
  margin-top: 5px;
  padding: 5px 0;
  border-top: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
}

.hasil_suka {
  display: none;
  margin-top: 5px;
  padding: 5px 0 10px 0;
  border-bottom: 1px solid #ddd;
}

a.suka_link, a.komen_link {
  font-weight:lighter;
  font-size: .9em;
  color: #7f7f7f;
  margin-right: 20px;
  padding-left: 20px;
}

a.unsuka_link {
  font-weight:lighter;
  font-size: .9em;
  color: #4267b2;
  margin-right: 20px;
  padding-left: 20px;
}

div.suka_status {
  width:15px;
  display: inline-block;
  margin-right: 50px;
  background-image: url(../img/sukom.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -129px;
}

div.unsuka_status {
  width:15px;
  display: inline-block;
  margin-right: 50px;
  background-image: url(../img/sukom.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: -30px -129px;
}

a.nama_link {
  position: absolute;
  padding: 3px 0 0 5px;
  font-weight:lighter;
  font-size: .9em;
  color: #4267b2;
}

span.jumlah_suka {
  background-image: url(../img/likers.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: -127px -35px;
}

span.jumlah_suka::before {
  content:attr(backgound-image);
  width: 16px;
  height: 16px;
  display: inline-block;
}

a.suka_balas {
  position: absolute;
  padding: 1px 0 0 5px;
  font-weight:lighter;
  font-size: .9em;
  color: #4267b2;
}

a.suka_balas:hover {
  text-decoration: none;
}

span.jumlah_suka_balas {
  cursor: pointer;
  display: none;
  background-image: url(../img/liker2.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: -20px -293px;
  margin-right: 22px;
}

span.jumlah_suka_balas::before {
  content:attr(backgound-image);
  width: 9px;
  display: inline-block;
}

div.komen_status {
  width:15px;
  display: inline-block;
  background-image: url(../img/sukom.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: -49px -112px;
}

.komentar {
  font-size: .9em;
  background-color: #f6f7f9;
  border: 1px solid #ddd;
  padding: 0 15px 10px 10px;
  margin-bottom: 20px;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  overflow: auto;
}

.per-komentar {
    word-wrap: break-word;
}

.per-komentar img {
  margin-right: 10px;
  width: 30px;
  height: 30px;
}

p.komentar_text {
  padding-bottom: 0;
  margin-top: 0;
  line-height: 1.34;
  padding-bottom: 5px;
}

a.author-komentar {
  text-decoration: none;
  font-weight: 600;
  color: #365899;
  cursor: pointer;
}

a.author-komentar:hover {
  text-decoration: underline;
}

.post-komen {
  clear: both;
  padding-top: 10px;
  width: 100%;
}

.img-author {
  float: left;
  width: 30px;
  margin: 0px 10px 0 0;
}
.img-author img {
  margin-right: 10px;
  width: 30px;
  height: 30px;
}

.komen-author {
  width: 428px;
  float: left;
}

.rei {
  display: none;
}

a.hapus_komen, a.hapus_status{
  color: #b16b2b;
}

.meta_komen {
  display: none;
  float: right;
  text-align: right;
}

textarea {
  font-family: inherit;
  display: block;
  width: 100%;
  height: 25px;;
  margin: 0;
  padding: 5px 0 0 5px;
  resize:vertical;
  overflow: auto;
  line-height: 1.34;
}

textarea.textarea_edit {
  display: block;
  width: 100%;
  height: 25px;;
  margin: 10px 0;
  padding: 5px 0 0 5px;
  resize:vertical;
  overflow: auto;
  line-height: 1.34;
}

p {
  line-height: 1.34;
  word-wrap: break-word;
  margin-top: 5px;
  margin-bottom: 0px;
  padding-top: 0;
  padding-bottom: 10px;
}

.balas_komen, .suka_komen, .unsuka_komen, .edit_komen, .hapus_komen, .cancel_komen, .date {
  font-size: .9em;
}

.date, a.date:hover {
  color:#90949c;
}

#submit_status{
  padding: 5px 15px;
}
.btn_post {
  font-size: .9em;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 0 10px 0px 10px;
  margin: 0 0 20px 0;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  overflow: auto;
}

button {
  color: #fff;
  padding: 5px 10px;
  font-weight: 600;
  font-size: .9em;
  cursor: pointer;
  background-color: #4267b2;
  border: 1px solid #4267b2;
  border-radius: 2px;
  display: block;
  float: right;
  margin: 10px 0;
}

#dialogoverlay{
	display: none;
	opacity: .3;
	position: fixed;
	top: 0px;
	left: 0px;
	background: #000;
	width: 100%;
	z-index: 10000;
}

#dialogbox{
	display: none;
	position: fixed;
	width:450px;
	z-index: 10000;
}

.btn_alert {
  margin: 0 0 0 10px;

}

button.btn_alert_cancel {
  color:#333;
  margin: 0 0 0 10px;
  background-color: #f6f7f9;
  border: 1px solid #ddd;
  border-radius: 2px;

}

#dialogbox > div {
  background:none;
}

#dialogbox > div > #dialogboxhead {
  border-radius:2px 2px 0 0;
  border-top: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  background: #f6f7f9;
  font-size:inherit;
  font-weight: 600;
  padding:10px;
  color:#000;
}

#dialogbox > div > #dialogboxbody {
  background: #fff;
  padding:20px;
  color:#333;
  border-top: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
}

#dialogbox > div > #dialogboxfoot {
  overflow: auto;
  box-shadow: 0px 20px 10px -20px rgba(0, 0, 0, .75);
  border-radius:0 0 2px 2px;
  background: #fff;
  padding:10px;
  text-align:right;
  border-top: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
}
